---
---
{% include JB/setup %}
{% assign posts_collate = site.posts %}
<!DOCTYPE html>
<!--[if IE 7]>
 <html class="ie ie7" lang="zh-CN">
 <![endif]-->
<!--[if IE 8]>
 <html class="ie ie8" lang="zh-CN">
 <![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="zh-CN">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta name="sogou_site_verification" content="79r918vxX1"/>
            <!-- 设置标题 -->
            <title>
                虫虫才色 | 一棵草的人生 cccsee.cn              </title>
            
            <!-- 设置描述性标签和关键词标签 -->
            
            <meta content="奉行【品读·思考·感悟·修己·践行】，虫虫的故事，品五味杂陈，想哲理人生，悟情感世界，修一生品性，做踏踏实实的人。" name="description"/>
            <meta content="虫虫,虫虫才色,相爱,技术博客,Telen" name="keywords"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--设置屏幕自动适配宽-->
                <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--设置ie浏览器兼容模式-->
                    
                    <link rel='stylesheet' id='style-css'  href='main/app/app.min.css' type='text/css' media='all' />
                    <link rel='stylesheet' id='style-css'  href='main/css/style.css' type='text/css' media='all' />
                    
    </head>
    <body>
        <div class="app-page" data-page="home">
            <div class="app-content">
                <div class="app-cccsee">
            <div id="div_f1">
                <ul>
                    <li id="li_top"></li>
                    <li id="li_logo"><a target="_self" href="./"><img src="main/img/favicon.png"></a></li>
                    <li id="li_title"><b>虫虫才色 cccsee.cn</b></li>
                    <li id="li_lable">github接入</li>
                    <li id="li_lable">新浪接入</li>
                    <li id="li_text"><strong><a target="_self" href="http://cccsee.cn">虫虫才色</a></strong></li>
                    <li id="li_text"><strong><a target="_self" href="http://cccsee.sinaapp.com">虫虫才色</a></strong></li>
                    <li id="li_lable">---------------------</li>
                    <li id="li_lable">---------------------</li>
                    <li id="li_text"><strong><a target="_self" href="/site">笑点-首页</a></strong></li>
                    <li id="li_text"><strong><a target="_self" href="/site/archive.html">笑点-全部</a></strong></li>
                    <li id="li_lable">---------------------</li>
                    <li id="li_lable">---------------------</li>
                    <li id="li_text"><strong><a target="_blank" href="http://github.com/TelenLiu">Telen-github</a></strong></li>
                    <li id="li_text"><strong><a target="_blank" href="http://gracelove.sinaapp.com">相爱</a></strong></li>
                    <li id="li_text"><strong><a target="_blank" href="http://lofter.cccsee.cn">PhotoLofter</a></strong></li>
                    <li id="li_text"><strong><a target="_blank" href="http://telen.lofter.com">原创摄影</a></strong></li>
                    <li id="li_text"><strong><a target="_blank" href="http://git.oschina.net/TelenLiu">git-oschina</a></strong></li>
                    <li id="li_text"><strong><a target="_blank" href="http://blog.sina.com.cn/liuzanhuang">技术博客sina</a></strong></li>
                    <li id="li_text"><strong><a target="_blank" href="http://weibo.com/telen">新浪微博</a></strong></li>
                    <li id="li_text"><strong><a target="_blank" href="http://t.qq.com/telenliu">腾讯微博</a></strong></li>
                    <li id="li_text_btn">
                        <div class="app-section">
                        <div class="app-button" data-target="myapp">App</div>
                        </div>
                    </li>
                    <li id="li_allright">品读·思考·感悟·修己·践行</li>
                    <li id="li_post">{% include JB/posts_collate_rand %}</li>
                    <li id="li_allright">Copyright ©2009-2015 虫虫才色  cccsee.cn   All Rights Reserved. | <strong><a target="_blank" href="/sitemap.txt">sitemap</a></strong></li>
                    <li id="li_allright"><script type="text/javascript">
                        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F4691c35f073d9b74058f68adeb22308b' type='text/javascript'%3E%3C/script%3E"));
                        </script></li>
                    <li id="li_top"></li>
                </ul>
                </div>
            </div>
            </div>
        </div>
        
        
        <div class="app-page" data-page="myapp">
            <div class="app-topbar">
                <div class="app-button left" data-back data-autotitle></div>
                <div class="app-title">My App</div>
            </div>
            <div class="app-content">
                <div class="app-section">
                    <ul>
                        <li id="li_text"><strong><a target="_self" href="itms-services:///?action=download-manifest&url=https://test-joyreader.wawayaya.com/telen/iOSkaola/kaola.plist">kaolaFM_v2.4.3.ipa</a></strong></li>
                    </ul>
                </div>
                <div class="app-section">
                    <ul>
                        <li id="li_text"><strong><a target="_self" href="itms-services:///?action=download-manifest&url=https://cccsee.sinaapp.com/app/iOSimgo/4.0.plist">芒果TV HD_v4.0.ipa</a></strong></li>
                    </ul>
                </div>
                <div class="app-section">
                    <ul>
                        <li id="li_text"><strong><a target="_self" href="itms-services:///?action=download-manifest&url=https://cccsee.sinaapp.com/app/iOSimgo/4.1.1.plist">芒果TV HD_v4.1.1.ipa</a></strong></li>
                    </ul>
                </div>
                <ul>
                    <li id="li_allright">品读·思考·感悟·修己·践行</li>
                </ul>
            </div>
        </div>
        
        
        <script src="main/app/zepto.js"></script>
        <script src="main/app/app.min.js"></script>
        <script>
            App.controller('home', function (page) {
                           // put stuff here
                        });
                           
            App.controller('myapp', function (page) {
                                          // put stuff here
                        });
                                          
            try {
                  App.restore();
              } catch (err) {
                  App.load('home');
              }
        </script>
        
    </body>
</html>
