<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://git.oschina.net/TelenLiu/ipa/raw/master/ipas/%E8%80%83%E6%8B%89FM_v2.4.3.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://cccsee.sinaapp.com/app/iOSkaola/icon@2x.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://cccsee.sinaapp.com/app/iOSkaola/icon@2x.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.autoradio.MyRadio</string>
				<key>bundle-version</key>
				<string>2.4.3</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>考拉FM</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
